.projectContainer{
    padding: 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.589);
    background-color: rgba(206, 206, 206, 0.589);
    background-size: cover;
}
.projectBase{
    margin:0 20px 30px 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 15px 20px rgba(78, 75, 75, 0.685);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}
.projectHeading{
    font-size: 20px;
    
    font-stretch: extra-expanded;
    padding: 10px;
    margin: 10px;
}
.projectTitle{
    width: 100%;
    /* display: flex;
    justify-items: center;
    align-items: center; */
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    /* justify-content: space-between; */
}
.projectInput{
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    /* width: 100%; */
}
.projectInputEmail{
    padding: 8px;
    margin: 10px;
    width: 330px;
    border-radius: 10px;
}
.projectButton{
    outline: none;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.349);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-size: 15px;
    transition: all 0.5s ease;
}

.projectRole{
     display: flex;
    justify-items: center;
    align-items: center;
}
.projectButton:hover{
    background-color: var(--sidebar-background-color);
    color: aliceblue;
    transform: scaleX(1.1);
}
.projectSubmit{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.error{
    color: red;
    font-size: 15px;
    padding: 5px;
    
  }