.LoginPage{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: no-repeat url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
  background-size: cover;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}
.loginbox{
  /* width: 350px;
  height: 350px; */
  padding: 3%;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.342);
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.699);
}
.loginText{
  font-size: 15px;
  font-weight: 300;
  margin: 2px;
  padding: 12px;
}
.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginlogo{
  color: #000;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  font-weight: 500;
}

.LabelUsername, .LabelPassword {
  font-size: 25px;
  border-bottom: 1px solid #000;
  height: 20px;
 position: relative;
 bottom: 1px;
 right: 0px;
color: #000;

}
.TextPassword{
  margin-top: 50px;
  /* padding-right: 10px; */
 
}
.TextPassword:focus , .TextUsername:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.error{
  color: red;
  font-size: 15px;
  padding: 0%;
  
}
.LabelPassword
{
  margin-top: 50px;
  position: relative;
  bottom: 1px;
  left: 8px;
  padding-right: 10px;
}
.TextUsername, .TextPassword{
  outline: none;
  border: none;
  background-color: rgba(233, 233, 233, 0.034);
  border-bottom: 1px solid #000;
  height: 20px;
  font-size: 15px;
}
.loginBtn{
  outline: none;
  border: none;
  padding-left: 72px;
  padding-right: 72px;
  background: rgba(255, 255, 255, 0.349);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-size: 15px;
  transition: all 0.5s ease;
}
.loginBtn:hover{
  background-color: var(--sidebar-background-color);
  color: aliceblue;
  transform: scaleX(1.1);
}
.Loginbutton{
  margin: 35px;
  margin-bottom: 15px;
}
.forgotText{
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.forgotText:hover{
  color: rgb(38, 0, 255);
}

.errorline{
  margin-top: 50px;
  outline: none;
  border: none;
  background-color: rgba(233, 233, 233, 0.034);
  border-bottom: 1px solid rgb(255, 0, 0);
  height: 20px;
  font-size: 15px;
}