.bodyContainer{
    width: 100%;
    display: flex;
    height: 100vh;
}
.sidebarContainer{
    width: 15%;
    height: 100vh;
}
.mainContainer{
    width: 85%;
    height: auto;
    /* background: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg) no-repeat #000; */
    background-size: cover;
    /* background-repeat: repeat-x; */
    /* background-size: 100%; */
}