.sidebarComponent{
    
    height: 100vh;
    /* background-color: var(--sidebar-background-color); */
    /* background: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg"); */
    background-color: #fff;
    background-repeat: no-repeat;

    overflow: hidden;
    position: fixed;
    display: inline-block;
    
}
.logobox{
    overflow: hidden;
    width: 100%;
    background-color: var(--sidebar-color-dblue);
    padding: 20px;
}
.logotext{
    color: #fff;
    font-weight: 700;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.menus{
    /* width: auto;
    height: auto; */
    /* background-color: #fff; */
}
.itemnav{
    /* width: auto;
    height: auto; */
    padding: 10px;
    margin:30px 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
    cursor: pointer;
    transition: all 0.5s ease;
}
.itemnav:hover{
    background-color: #bccacc91;
    border-radius: 50px;
    transform: translateX(15px);
}
.itemnav:hover .itemicon, 
.itemnav:hover .itemname
{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.itemicon{
    padding: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

.itemname{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.userbox{
    width: 100%;
    height: auto;

    /* background-color: #fff; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    text-align: center;
    align-items: center;
    align-content: center;
    left: 0;
}
.username{
   position: absolute;
    bottom: 10px;
    color: rgb(255, 230, 4);
    font-size: 20px;
    padding-left: 20px;
    padding: 10px;
}
.usericon{
    position: absolute;
    bottom: 0;
    left: 0%;
    border-radius: 50px;
    background-color: #fff;
}
.userlogout{
    position: absolute;
    bottom: 0;
    right: 5px;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    border-radius: 50px;
    transition: all 1.5s ease;
}
.userlogout:hover{
    /* background-color: #fff; */
    /* color: var(--sidebar-background-color); */
    transform: scale(1.1);
    border: 1px solid #fff;
}

.itemnavActive{
    background-color: #bccaccab;
    border-radius: 50px;
    transform: translateX(15px);
    width: auto;
    height: auto;
    padding: 10px;
    margin:30px 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
    cursor: pointer;
    transition: all 0.5s ease;
}

.itemnavActive .itemicon, 
.itemnavActive .itemname
{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

